i{
    color: #bbbbbb;
}

.btn:focus, .btn:active:focus, a:focus{
    outline: none;
}

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}