<div ng-controller="CatWidgetController" ng-init="getImage()">
  <div ng-show="isLoaded">
    <a href="" ng-click="getImage()" style="outline: 0"><img ng-src="{{image_url}}" class="img-responsive" /></a>
  </div>
  <div ng-hide="isLoaded">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
</div>