<div class="checkbox">
  <label><input type="checkbox" ng-model="isRelativeDate"> Relative date</label>
</div>
<div ng-hide="isRelativeDate">
  <datepicker ng-model="absoluteDate" show-weeks="false"></datepicker>
</div>

<form class="form-inline" ng-show="isRelativeDate">
  <div class="form-group form-group-sm"><input ng-change="updateRelative()"  ng-model="selectedDuration" type="text" class="form-control" size="1"></div>
  <div class="form-group form-group-sm"><select ng-change="updateRelative()" ng-model="selectedTimeUnit" class="form-control" ng-options="timeUnit.label for timeUnit in timeUnits"></select></div>
  <div class="form-group form-group-sm"><select ng-change="updateRelative()" ng-model="selectedRelation" class="form-control"  ng-options="relation.label for relation in relations"></select></div>
  <div class="form-group form-group-sm"><label>today</label></div>
</form>
<div style="margin-top:10px">
  <button type="button" class="btn btn-success" ng-click="save()">Save</button>
  <button type="button" class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>
</div>
