<span class="dropdown" is-open="popupStatus">
  <label
    style="border-bottom: 1px dashed gray; cursor: pointer; display: inline-block"
    class="dropdown-toggle">{{dateModel | dateFormat: 'dd MMMM yyyy'}}</label>
  <ul class="dropdown-menu" style="min-width: 330px">
    <li style="padding: 0 10px 5px"><div date-selector  date-model="dateModel" is-popup-open="popupStatus"></div></li>
  </ul>
</span>
