<div class="col-md-{{widget.size}}" ng-show="widget">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{widget.title}}
      <span class="pull-right">
        <a href="" ng-click="reload()" title="Reload"><i class="fa fa-refresh"></i></a>
        <a href="" class="handle" title="Move" style="cursor: all-scroll"><i class="fa fa-arrows"></i></a>
        <a href="" ng-click="remove(dashboardId, widgetId)" title="Remove" ng-show="isDeleteable"><i class="fa fa-trash-o"></i></a>
        <a href="" ng-click="edit()" title="Settings" ng-show="isConfigurable"><i class="fa fa-cog"></i></a>
      </span>
    </div>
    <div class="panel-body">
      <div ng-include="template" ng-hide="isEdit"></div>
      <div ng-include="'widget/widget.edit.html'" ng-show="isEdit"></div>
    </div>
  </div>
</div>