<form ng-controller="WidgetEditController" class="form-horizontal" role="form">
  <div class="form-group">
    <label for="title" class="control-label col-sm-4" style="text-transform: capitalize">Title:</label>
    <div class="col-sm-8">
      <input type="text" ng-model="widget.title" id="title" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="size" class="control-label col-sm-4" style="text-transform: capitalize">Size:</label>
    <div class="col-sm-8">
      <input type="text" ng-model="widget.size" id="size" class="form-control">
    </div>
  </div>
  <div ng-repeat="(key, value) in widget.configs" class="form-group">
    <label for="{{key}}" class="control-label col-sm-4" style="text-transform: capitalize">{{key}}:</label>
    <div class="col-sm-8">
      <input type="text" ng-model="widget.configs[key]" id="{{key}}" class="form-control">
    </div>
  </div>
  <div class="form-group pull-right">
    <div class="col-sm-12">
      <button type="button" class="btn btn-success" ng-click="save()">Save</button>
      <button type="button" class="btn btn-danger" ng-click="cancel()">Cancel</button>
    </div>
  </div>
</form>