<div class="modal-header">
  <h3 class="modal-title">Add Widget</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-3 control-label">Widget Type:</label>
      <div class="col-sm-4">
        <select ng-model="selected.widgetType" ng-options="item.name for item in widgetTypes"></select>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="save()">Save</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>