<div>
  <div class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <span class="navbar-brand">{{dashboard.name}}</span>
        <button class="btn btn-default navbar-btn" ng-click="addWidget()"><i class="fa fa-plus"></i> Add widget</button>
      </div>
    </div>
  </div>
  <div ng-repeat="widget in dashboard.widgets">
    <div tk-widget="" widget-id="widget.id">
      <a href="" ng-click="remove($index)" title="Remove"><i class="fa fa-trash-o"></i></a>
    </div>
  </div>
</div>