<div class="col-md-{{widget.size}}">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{widget.title}}
    <span class="pull-right">
      <a href="" ng-click="reload()" title="Reload"><i class="fa fa-refresh"></i></a>
      <a href="" class="handle" title="Move" style="cursor: all-scroll"><i class="fa fa-arrows"></i></a>
      <a href="" ng-click="edit()" title="Settings" ng-show="isConfigurable"><i class="fa fa-cog"></i></a>
      <span ng-transclude="" ng-show="isDeleteable"></span>
    </span>
    </div>
    <div class="panel-body">
      <div ng-include="content"></div>
    </div>
  </div>
</div>