<div ng-controller="WeatherWidgetController" ng-init="getData()">
  <div ng-show="isLoaded">
  <h1>{{city}}</h1>
  <div>Current Temp: {{currentTemp | number : 2}}</div>
  <img ng-src="{{icon}}" />
  </div>
  <div ng-hide="isLoaded">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
</div>