<div class="modal-header">
  <h3 class="modal-title">{{widget.title}}</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <div class="form-group">
      <label for="inputTitle" class="col-sm-2 control-label">Title:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="inputTitle" ng-model="widget.title"/>
      </div>
    </div>
    <div class="form-group">
      <label for="inputSize" class="col-sm-2 control-label">Size:</label>
      <div class="col-sm-4">
      <input type="text" class="form-control" id="inputSize" ng-model="widget.size"/>
        </div>
    </div>
    <span ng-repeat="config in widget.configs">
      <div class="form-group">
        <label for="{{config.name}}" class="col-sm-2 control-label">{{config.name}}:</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="{{config.name}}" ng-model="config.value"/>
        </div>
      </div>
    </span>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="save()">Save</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>