<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-brand" href="#" ui-view="dashboardName"></div>
  </div>
</div>
<div ui-view="addWidget"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="list-group">
        <a ui-sref="dashboard.detail({dashboardId: dashboard.id})"
           class="list-group-item"
           ng-repeat="dashboard in dashboards"
           ui-sref-active="active">{{dashboard.name}}</a>
      </div>
      <input type="hidden" ng-model="dateStart" ng-init="dateStart='-16w'">
      <input type="hidden" ng-model="dateEnd" ng-init="dateEnd=1428304800000">
      <br/>
      between <span date-selector-popup  date-model="dateStart"></span> and <span date-selector-popup  date-model="dateEnd"></span>
    </div>
    <div class="col-md-10" ui-view></div>
  </div>
</div>