<div class="container-fluid">
  <div class="row">
    <div class="col-md-1">
      <button class="btn btn-default navbar-btn" ng-click="toggleAddWidget()"><i class="fa fa-plus"></i> Add widget</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2" ng-show="isAddWidget">
      <div class="form-group">
        <select class="form-control" ng-model="selectedWidgetType" ng-options="widgetType.template for widgetType in widgetTypes"></select>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-success" ng-click="addWidget()">Save</button>
        <button type="button" class="btn btn-danger" ng-click="toggleAddWidget()">Cancel</button>
      </div>
    </div>
  </div>
</div>